# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDE
*.iml
*.ipr
*.iws
.idea/

# VS Code (odkomentuj pokud nechceš verzovat konfiguraci)
#.vscode/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/
devtools_options.yaml

# Generated documentation
**/doc/api/

# iOS
**/ios/Flutter/.last_build_id

# Android build outputs
/android/app/debug/
/android/app/profile/
/android/app/release/

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json
